<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="text-right">
        <button type="button" class="btn btn-primary " (click)="logout()">logout</button>
      </div>
    </div>
  </div>
  
  <div class="text-center" *ngIf="!loaded">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table class="table align-middle mb-0 bg-white" *ngIf="loaded">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Brand</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dashboard;let num=index;">
        <td>
          <div class="d-flex align-items-center">
            <img [attr.src]="data?.api_featured_image" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{data?.name}}</p>
              <p class="text-muted mb-0">{{data?.website_link}}</p>
            </div>
          </div>
        </td>
        <td>
          {{data?.brand}}
        </td>

      </tr>
    </tbody>
  </table>
</div>